<div class="row">
    <div class="col-sm-4 d-flex mt-3" *ngFor="let book of booksdata">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <p>
                    <strong>{{book.title}}</strong>
               </p>
            </div>
            <div class="card-body">
                <p>
                    Author Name : <strong>{{book.author}}</strong>
                </p>
                <p>
                    {{book.info}}
                </p>
            </div>
    </div>
    </div>
</div>
